html, body{
  height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
  font-family: Roboto, sans-serif;
}

p{
  font-size: 14px;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 25px;
}

h1 ~ h2{
  font-size: 18px;
}

#navbar{
  position: fixed;
  top: 0;
  height: 50px;
  text-align: center;
  width: 100%;
  background-color:black;
  vertical-align: center;
}

a{
  text-decoration: none;
}
a:hover{
  color: black;
}

#navbar > ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  float:right;
  height: 100%;
  
  vertical-align: center;
  
}

#navbar-list li {
  display: block;
  height: 50px;
  float: left;
 
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: center;
}

#navbar-list li:hover{
  background-color: white;
} 

#navbar-list a{
  display: block;
  padding: 14px 16px;
  color: white;
}

#navbar-list a:hover{
  color: black;
}

#navbar-list:first-child{
  text-decoration: none;
}

#navbar-list:last-child{
  text-decoration: none;
}

.home{
  margin: 0;
  background-image:url(/assets/milkyway.jpg);
  height: 100vh;
  color: white;
  vertical-align: middle;
  text-align: center;
  background-size: cover;
  background-repeat:no-repeat;
}

#welcome-content{
  height: 100%;
  width: 100%;
  padding-top: 20%;
}

.home img{
  width: 10vw;
  height: 10vw;
}

.home h1{
  font-size: 6vw;
}
.home h2{
  font-size: 3vw;
  margin-bottom: 50px;
}
.home a{
  margin:20px;
  background-color: gold;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  color: grey;
}

.home a:hover{
  background-color: white;
  color: gold;
}

.home a:active{
  transform:translateY(3px)
}

#works{
  background-color: #100b57;
  margin: 0;
  padding: 100px;
  padding-bottom: 100px;
}

#works p{
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 100px;
}

#project-contents{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.project-tile{
  margin: 0;
  height: 100%;
  width: 100%;
  
}

.project-tile:hover{
  background-color: white;
}

.project-tile img{
  height: auto;
  width: 90%;
  padding: 0;
  margin: 0;
}

.project-tile a{
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: white;
  border-bottom: 
}

.project-tile a:hover{
  color: black;
  
}

#contacts{
  padding: 50px;
  background-color: black;
  text-align: center;
}

#contacts a{
  color: white;
  font-size: 40px;
  margin: 40px;
}

@media(max-width: 800px){
  #project-contents{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
project-tile{
    grid-column: 1;
  }
}